<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta name="msapplication-TileColor" content="#2cbb00" />
    <meta name="theme-color" content="#2cbb00" />
    <title>Ethan Pisani - Portfolio</title>

    <link
      rel="preload"
      href="{{ url_for('static',filename='css/main.css') }}"
      as="style"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
   <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/main.css') }}"
    />


    <!-- Particles.js Library -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </head>

  <body>
    <div id="particles-js"></div>
    <div class="content">
      <h1 class="text-pop-up-top">Ethan Pisani.</h1>

  
      <p>
        <a href="https://www.linkedin.com" target="_blank">LinkedIn</a> ⋄
        <a href="https://www.ethanpisani.com" target="_blank">Website</a> ⋄
        <a href="https://www.github.com/EthanPisani" target="_blank">GitHub</a>
      </p>

      <div class="section">
        <h2>Projects</h2>
        
        <ul class="projects-list">
          <!-- Projects: Project Lambda, Portfolio Website, Homelab, Tails of Ailurus, LTC Bus AI/ML, SMPLY-Navigate, Gan website, Project ASH --->
          <hr>

          <div name="Tails of Ailurus">
            <p class="project-container-p"><strong><a href="/tails-of-ailurus">Tails of Ailurus</a></strong> <span class=project-date">2021 — Present</span></p>
            <ul>
              <li>Developed a 2D platformer game using Unity, C#, and Blender.</li>
              <li>Designed levels, characters, and animations, and implemented game mechanics.</li>
            </ul>
          </div>
          
          <hr>
          
          <div name="LTC Bus AI/ML">
            <p class="project-container-p"><strong>LTC Bus AI/ML</strong> <span class=project-date">2024 — Present</span></p>
            <ul>
              <li>Developed tools for real-time bus movement visualization using AI/ML techniques.</li>
              <li>Utilized SQL and Multiple Linear Regression to store and analyze bus location data.</li>
            </ul>
          </div>

          <hr>
          
          <div name="Project ASH">
            <p class="project-container-p"><strong>Project ASH</strong> <span class=project-date">2023</span></p>
            <ul>
              <li>Developed a web app to help students navigate the Western campus.</li>
              <li>Utilized Google Maps API, JavaScript, and HTML/CSS to create a user-friendly interface.</li>
            </ul>
          </div>

          <hr> 

          <div name="SMPLY-Navigate">
            <p class="project-container-p"><strong><a href="https://github.com/EthanPisani/SMPLY-Navigate">SMPLY-Navigate</a></strong> <span class=project-date">2022</span></p>
            <ul>
              <li>Developed a web app to help students navigate the Western campus.</li>
              <li>Utilized Google Maps API, JavaScript, and HTML/CSS to create a user-friendly interface.</li>
            </ul>
          </div>
          
          <hr>

          <div name="Gan Flask Website">
            <p class="project-container-p"><strong><a href="https://github.com/EthanPisani/gan.ethanpisani.com">Gan Flask Website</a></strong> <span class=project-date">2021</span></p>
            <ul>
              <li>Developed a website for a local business using WordPress, HTML, and CSS.</li>
              <li>Designed a user-friendly interface and implemented SEO best practices.</li>
            </ul>
          </div>
          
          <hr>

          <div name="chemistry Study Guide">
            <p class="project-container-p"> <strong> <a href="/chem12cpt" >Chemistry Study Guide </a> </strong> <span class=project-date">2021</span></p>
            <ul>
              <li>Developed a website for a local business using WordPress, HTML, and CSS.</li>
              <li>Designed a user-friendly interface and implemented SEO best practices.</li>
            </ul>
          </div>

          <hr>

          <div name="Homelab">
            <p class="project-container-p"><strong>Homelab</strong> <span class=project-date">2019</span></p>
            <ul>
              <li>A collection of computers and servers <span class=project-date">both local and cloud-based</span> running various software such as Debian, Proxmox, TrueNAS, and OPNsense.</li>
              <li>Experience self-hosting apps like Gitea, Jellyfin, Docker apps, reverse proxy config, and more.</li>
            </ul>
          </div>

          <hr>

        </ul>
      
      </div>

      <div class="section">
        <h2>Skills</h2>
        <ul class="skills-list">
          <li>Python</li>
          <li>Java</li>
          <li>COBOL</li>
          <li>C</li>
          <li>C++</li>
          <li>JCL</li>
          <li>Bash</li>
          <li>Rust</li>
          <li>SQL</li>
          <li>R</li>
          <li>Numpy</li>
          <li>TensorFlow</li>
          <li>Docker</li>
          <li>Jira</li>
        </ul>
      </div>

      <div class="section">
        <h2>Experience</h2>
        <p><strong>Junior Software Developer</strong> | Canada Revenue Agency<br />
        May 2024 — September 2024</p>
        <ul>
          <li>Trained on Batch/Online COBOL, JCL, Mainframe ISPF. Debugged programs in Xpediter, Topaz Workbench.</li>
          <li>Performed daily QA testing of regressions, enhancing team efficiency.</li>
          <li>Gained experience in agile development, using Jira, code reviews, impact analysis, and Endevor.</li>
        </ul>
        
        <p><strong>Junior Communications Officer</strong> | DFO Government of Canada<br />
        May 2022 — August 2022</p>
        <ul>
          <li>Updated team intranet site using Drupal, managed email inboxes, and documented user stories.</li>
          <li>Improved team efficiency by assisting with tasks and stakeholder communications for a large software project.</li>
        </ul>
      </div>


      <div class="section">
        <h2>Extra-Curricular Activities</h2>
        <p><strong>Western Developer Society</strong> | LTC Bus AI/ML Team Lead<br />
        September 2024 — Present</p>
        <ul>
          <li>Partnered with Dr. Yili Tang to develop tools for real-time bus movement visualization using AI/ML techniques.</li>
          <li>Utilized SQL and Multiple Linear Regression to store and analyze bus location data.</li>
        </ul>

        <p><strong>Western AI</strong> | Developer<br />
        October 2021 — April 2024</p>
        <ul>
          <li>Created a Virtual Personality with open-source AI models, using techniques like LLM, TTS, STT, and text analysis.</li>
          <li>Developed machine learning agents for object detection in games, achieving 87% accuracy.</li>
          <li>Designed a custom ANN for image classification of yoga poses.</li>
        </ul>
      </div>

      <div class="section">
        <h2>Education</h2>
        <p>
          <strong>Bachelor of Computer Science</strong>, University of Western Ontario<br />
          Honors Specialization in Computer Science (2021 - 2025)
        </p>
      </div>


     
    </div>

    <script>
      particlesJS("particles-js", {
        particles: {
          number: { value: 100, density: { enable: true, value_area: 800 } },
          color: { value: "#2cbb00" },
          shape: {
            type: "circle",
            stroke: { width: 0, color: "#000000" },
            polygon: { nb_sides: 5 },
          },
          opacity: {
            value: 0.5,
            random: false,
            anim: { enable: false, speed: 1, opacity_min: 0.1, sync: false },
          },
          size: {
            value: 3,
            random: true,
            anim: { enable: false, speed: 40, size_min: 0.1, sync: false },
          },
          line_linked: {
            enable: true,
            distance: 150,
            color: "#2cbb00",
            opacity: 0.4,
            width: 1,
          },
          move: {
            enable: true,
            speed: 6,
            direction: "none",
            random: false,
            straight: false,
            out_mode: "out",
            bounce: false,
            attract: { enable: false, rotateX: 600, rotateY: 1200 },
          },
        },
        interactivity: {
          detect_on: "canvas",
          events: {
            onhover: { enable: true, mode: "repulse" },
            onclick: { enable: true, mode: "push" },
            resize: true,
          },
          modes: {
            repulse: { distance: 100, duration: 0.4 },
            push: { particles_nb: 4 },
          },
        },
        retina_detect: true,
      });
    </script>
  </body>
</html>
