<!DOCTYPE html>
<html>
  <head>
    <title>Ethan's Site</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chem12cpt.css') }}" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="/img/favicon.ico" />
    <meta name="robots" content="index,follow" />
  </head>
  <body>
</body>
</html>